body {
  background-color: #E5E5E5;
}

.App {
  text-align: center;
  padding: 1rem;
}

h1 {
  text-align: left;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: "white"
}

.project-manager {
  padding-left: 3%;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .main-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .container-child {
    width: 50%;
    margin: auto;
  }
}

.container-child {
  background: #FFFFFF;
  margin: .5rem;
  box-shadow: 3px 3px 11px rgba(131, 133, 143, 0.13);
  border-radius: 4px;
  height: fit-content;
  min-height: 50vh;
  max-height: 100vh;
  overflow: scroll;
  padding-bottom: 1rem;
}

.table-header {
  text-decoration: underline;
}

.line-item {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 0.75px solid #D7D5D5;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 11px rgba(24, 179, 226, 0.13);
  border-radius: 4px;
  margin: 1rem;
  padding: 5px;
  max-width: 500px;
}

.line-item-buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

#line-item-header {
  border: none;
  box-shadow: none;
}

#item-title {
  max-width: 70%;
  overflow-wrap: break-word;
  margin-left: 10px;
}

.line-items-header {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

.item-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 100%;
  margin: auto;
}

.project-card {
  background: #FFFFFF;
  box-shadow: 3px 3px 11px rgba(131, 133, 143, 0.13);
  border-radius: 4px;
}
